<footer>
    <div>
        <div>
            <h3><span>Flipboard</span></h3>
            <p>
                <a href="#">Se connecter</a> · 
                <a href="#">Qui sommes-nous ?</a> · 
                <a href="#">Publishers</a> · 
                <a href="#">Aide</a>
            </p>
            <p>Flipboard &copy; 2020</p>
        </div>
    </div>
</footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
