<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Flipboard</title>

    <link rel="stylesheet" href="/styles/general-style.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />

    <nav>
        <div>
            <img src="/images/flipboard.png" class="nav_icon">
            <p class="nav_text animation">Flipboard</p>
        </div>

        <div class="btn-link-search button">
            <img src="/images/loupe_gris.png" class="nav_icon">
            <p class="nav_text animation">Rechercher un article</p>
        </div>

        <div id="nav_div_user_icon" class="button">
            <div class="btn-link-login" id="header-connect">
                <img src="/images/user_icon.png" class="nav_icon">
                <p class="nav_text animation">Connexion / Inscription</p>
            </div>
        </div>
    </nav>
</head>