<!doctype html>
<html lang="fr">

<title>Flipboard</title>
<%- include('partials/header.ejs') %>

<body>
    <p>
        Welcome! This site is on development now. It's not ready yet.
    </p>
</body>

<%- include('partials/footer.ejs') %>
</html>