<!doctype html>
<html lang="fr">

<title>Flipboard</title>
<%- include('partials/header.ejs') %>

<link rel="stylesheet" href="/styles/main-page.css" />

<body>
    <div class="container">
        <div class="header">
            <header class="brand-banner">
                <h1 class="brand-banner_header">
                    <p>Soyez informé</p>
                    <p>Soyez inspiré</p>
                    <hr>
                </h1>
                <p>Des histoires créés pour vous</p>
                <div class="brand-banner__button-wrapper">
                    <a class="button--base button--primary button--fat" href="/login">Se connecter</a>
                    <a id="access-profil" class="button--base button--primary button--fat">Accéder à son profil</a>
                </div>
            </header>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/scripts/login.js"></script>
</body>

<%- include('partials/footer.ejs') %>

</html>